*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
}
.navigation{
    margin-top: 20px;
}
.navigation .main{
    display: flex;
    align-items: center;
} 
.navigation .main .menu-btn{
    position: absolute;
    top: 35px;
    left: 30px;
    width: 60px;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
    display: none;
}
.navigation .left{
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.left button{
    border: none;
    background: transparent;
}

.navigation .main .left .Search{
    width: 15rem;
    height: 2rem;
    border: none;
}
.main .logo{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .right{
   flex-basis: 30%;
   align-items: center;
}
.main .right ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.main .right ul li{
    list-style: none;
    text-align: center;
    position: relative;
}
.main .right ul li a{
    color: rgb(67, 67, 67);
}
.main .right ul li .sub{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    padding: 10px 10px 0 10px;
    box-shadow: 0 0 3px rgb(180, 180, 180);
    background-color: white;
}
.main .right ul li .sub button{
    width: 100%;
    height: 40px;
    background-color: rgb(48,48,48);
    border: none;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.main .right ul li .sub button:hover {
    background-color: rgb(96, 95, 95);
}


.main .right ul li .sub p{
    padding: 3px 0;
    font-size: 15px;
}
.main .right ul li .sub .under a{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(113, 113, 113);
    padding-top: 10px;
    font-size: 15px;
}
.main .right ul li:hover .sub{
    display: block;
}

.nav .menu .menu-btn{
    position: absolute;
    top: 30px;
    left: 60px;
    width: 40px;
    cursor: pointer;
    padding-left: 30px;
    /* display: none; */
}

.chat{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: black;
    align-items: center;
    width: 110px;
    height: 60px;
    border: none;
    border-radius: 13px;
    padding: 10px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1;
}
.chat p{
    color: white;
    font-size: 25px;
    padding-top: 13px;
}


.menu ul {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 20px auto;
}

.menu li {
    list-style: none;
    position: relative;
}
.menu ul .plus{
    display: none;
}

.menu li a {
    text-decoration: none;
    color: black;
}
.menu ul li .submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: rgb(69, 69, 69);
    border: none;
    width: 180px;
    padding: 20px;
    font-size: 14px;
}
.menu ul li .submenu li{
    padding: 10px 0;
}

.menu ul li:hover .submenu {
    display: block;
}

.menu ul li a:hover {
    color: rgb(167, 166, 166);
}
.menu ul li svg:hover {
    color: rgb(167, 166, 166);
}

.header .top{
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: #F1F1F1;
    height: 88px;
    align-items: center;
}
.header .top .cont {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* .header .top .cont .mob{
    display: none;
} */
.top .cont a{
    text-decoration: none;
    color: black;
    line-height: 17px;
}
.top .cont a span{
    font-weight: bold;
}
.top .protect a{
   padding-top: 20px;
}
.header .top .cont .pro2{
    display: none;
}
.header .collections-slider{
    display: none;
}

.furniture{
    display: flex;
    width: 76rem;
    flex-direction: column;
    gap: 3.4rem;
    margin: 4.1rem auto;
    justify-content: center;
    align-items: center;
}
.furniture .head{
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
    color: rgb(48,48,48);
}
.furniture .category{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.furniture .category div{
    width: 100%;
    height: auto;
}
.furniture .category div img{
    width: 100%;
}
.furniture .category div p{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: rgb(48,48,48);
    padding-top: 0.7rem;
    letter-spacing: 0.2rem;
}

.information{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 6rem auto 4rem auto;
    padding: 0 12.6rem;
}
.information div{
    text-align: center;
    font-size: 1rem;
    color: rgb(64, 64, 64);
    font-weight: lighter;
}

.sorting{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    border-bottom: 1px solid rgb(229, 229, 229);
    height: 3.5rem;
    margin-bottom: 2.7rem;
}
.sorting div{
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-size: 0.9rem;
}
.sorting div img{
    width: 25%;
    height: 32%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 5rem;
}
.grid .grid-container{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    cursor: pointer;
}
.grid .grid-container .top{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.grid .grid-container .top .sale{
    width: 3rem;
    height: 1.3rem;
    background-color: red;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.grid .grid-container .top i{
    margin-top: 1rem;
}
.grid .grid-container .image{
    display: flex;
    position: relative;
}
.grid .grid-container img{
    width: 100%;
}

.grid-container .image-container .f-image {
    position: absolute;
    width: 100%;
    transition: opacity 0.5s;
    cursor: pointer;
    opacity: 1;
}

.grid-container .image-container .f2-image {
    width: 100%;
    transition: opacity 0.5s;
    opacity: 0;
}

.grid-container:hover .f-image {
    opacity: 0;
}

.grid-container:hover .f2-image {
    opacity: 1;
}


.grid .grid-container .details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}
.grid .grid-container .details .head{
    font-size: 1rem;
    font-weight: bolder;
}
.grid .grid-container .details p{
    font-size: 0.9rem;
    color: red;
}
.grid .grid-container .details p span{
    text-decoration: line-through;
    color: rgb(144, 143, 143);
    font-size: 0.8rem;
}

.paging{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.paging p{
    margin-top: 1rem;
}
.paging .left{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 50%;
    color: rgb(202, 200, 200);
}
.paging .right{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 50%;
}
.paging .right:hover{
    background-color: rgb(50, 50, 50);
}



.containers{
    width: 1180px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 0 auto;
    margin-top: 100px;
}
.containers div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
}
.containers .item .head{
    font-size: 22px;
}
.containers .item li{
    list-style: none;
}
.containers .item li a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(109, 109, 109);
}
.containers .item li a .tribe{
    width: 200px;
}
.containers .item li a .stamp{
    width: 200px;
}
.containers .contact li{
    padding-bottom: 30px;
}
.containers .contact li a{
    color: rgb(72, 72, 72);
}   

footer{
    width: 1190px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

footer .rights{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgb(94, 94, 94);
    letter-spacing: 1px;
}
footer .pay{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer .pay img{
    width: 480px;
}
footer .pay2{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
}
footer .pay img2{
    width: 480px;
}

@media only screen and (max-width: 1024px){
    *{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    .navigation{
        width: 100%;
    }
    .navigation .main{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .navigation .main .left{
        padding-left: 40px;
    }
    .navigation .main .right{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-left: 50px;
    }
    
    .chat{
        overflow: hidden;
        gap: 0;
        padding: 0.6rem;
    }
    .chat .mess{
       width: 100%;
       padding-top: 1.2rem; 
       height: 100%;
       overflow: hidden;
       margin-right: 0;
    }
    .chat p{
        padding-right: 2.2rem;
        font-weight: 600;
    }

    .menu ul .plus{
        display: none;
    }

    .header .collections-slider{
        display: none;
    }
    
    /* .header .top .cont{
        width: 100%;
        overflow: hidden;
    }
    .header .top .cont a{
        overflow: hidden;
    }
    .top .protect a{
        padding-top: 0;
    } */

    .furniture{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 2.5rem;
    }
    .furniture .category{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .information{
        width: 100%;
        padding: 2rem;
        margin: 0rem auto;
    }

    .sorting{
        width: 100%;
        margin: 1rem auto;
    }

    .grid{
        margin: 3rem auto;
        padding: 2.5rem;
        padding-bottom: 0;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .paging{
        width: 100%;
        margin: 0 auto;
    }

    .containers{
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        gap: 2rem;
    }
    .containers .item{
        width: 100%;
    }
    .containers .item ul{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .containers .item .li{
        width: 100%;
    }
    .containers .item ul .li a img{
        width: 100%;
    }

    footer{
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        display: flex;
        justify-content: space-evenly;
    }
}


@media only screen and (max-width: 540px){
    *{
        overflow-x: hidden;
    }
    
    .navigation{
        width: 100%;
        display: flex;
        margin: 0;
        height: 9vh;
        position: relative;
        color: rgb(144, 143, 143);
        /* overflow-y: hidden; */
    }
    .navigation .main .right .wishlist .sub{
        display: none;
    }
    .menu {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 2;
        top: 5rem;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        border-top: 1px solid rgb(212, 212, 212);
    }
    
    .navigation .menu .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        position: absolute;
        left: 0;
        gap: 0;
        padding: 0;
        margin-top: 0;
    
    }
    .navigation .menu .nav-links .plus{
        display: block;
        font-size: 16px;
        color: rgb(106, 105, 105);
        font-weight: lighter;
    }
    .navigation .menu .nav-links .submenu1{
        display: none;
    }
    
    .navigation .menu .nav-links li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
    } 
    .menu li{
        border-bottom: 1px solid rgb(220, 217, 217);
        width: 100%;
        height: 4rem;
        padding: 1rem 0;
        overflow: hidden;
    }
    .menu li svg{
        display: none;
    }
    .menu li .submenu{
        display: block;
        left: -400px;
    }
    .menu a {
      padding: 0.6rem 1rem;
      text-decoration: none;
      font-size: 0.8rem;
      color: #818181;
      display: block;
      transition: 0.3s; 
    }
    .navigation .main .menu-btn{
        top: 2rem;
        left: 2rem;
        position: absolute;
        display: block;
        width: 2rem;
        height: 3rem;
        padding-top: 1rem;
    }
    
    
    
    .navigation .main{
        display: flex;
    }
    
    .navigation .main .left{
        display: none;
    }
    .main .logo{
        position: absolute;
        left: 9rem;
    }
    .main .right ul{
        flex-direction: column;
        position: absolute;
        right: 2rem;
        gap: 10px;
    }
    .main .right ul a svg{
       width: 25px;
       height: 25px;
    }
    .main .right ul .account{
        display: none;
    }
    .header{
        box-shadow: -0px 3px 8px rgb(87, 86, 86) inset;
    }
    .header .top{ 
        display: none;
     }
 
    .header .collections-slider{
        display: block;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 9vh;
        flex-direction: row;
        box-shadow: 0px 3px 8px rgb(186, 184, 184) inset;
    }
    .header .collections-slider .content img{
        width: 15%;
        height: 20%;
    } 
    .header .collections-slider .content a{
        text-decoration: none;
        color: black;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .header .collections-slider .content a span{
        font-weight: bold;
    }
    .slick-track{
        width: 200px;
    }
    .collections-slider{
        width: 140%;
    }
    .collections-slider .content{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .furniture{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 1.5rem;
    }
    .furniture .category{
        grid-template-columns: repeat(2, 1fr);
        font-weight: 500;
    }

    .information{
        padding: 1.5rem;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 1.5rem;
    }

    .containers{
        grid-template-columns: auto;  
        padding: 0;
        text-align: center;
        width: 100%;
      }
      .containers .item{
          border-bottom: 1px solid rgb(218, 215, 215);
          padding: 0;
          text-align: center;
          margin: 0 1.5rem;
          /* background-color: aqua; */
          padding-right: 2.7rem;
      }
      .containers .head{
          border: none;
      }
      .containers .connect ul .head{
          text-align: center;
      }
      .containers .contact ul .head{
          text-align: center;
      }
      .containers .item .connect ul p{
          border: none;
          background-color: yellow;
      }
      .containers .item li a{
          font-size: 1.1rem;
      }
      .containers .item li{
          padding: 0.5rem;
      }
  
      footer{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 10rem;
          margin: 0;
          gap: 0;
          width: 100%;
          padding: 0 3rem;
      }
      footer .pay{
          display: none;
      }
      footer .pay2{
          display: block;
          width: 100%;
          margin-top: 1rem;
          overflow: hidden;
      }
      footer .pay2 img{
          width: 100%;
      }
      footer .rights{
          text-align: center;
         padding: 0;
      }
  
      .chat p{
          display: none;
      }
      .chat{
          border-radius: 50%;
          width: 4rem;
          height: 4rem;   
          z-index: 3;
          padding-left: 1.2rem;
          padding-top: 1rem;
      }
      .footer2{
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0.7rem 6rem;
          position: relative;
          box-shadow: 0 0 1rem rgb(193, 190, 190);
      }
      .footer2 .icon svg{
          width: 1.7rem;
          height: 1.7rem;
          color: rgb(118, 118, 118);
      }
  
      .main-sub{
          display: none;
          /* display: flex; */
      }
      .sub-account{
          display: none;
      }
      .sub-account{
          display: none;
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;
          padding-top: 1rem;
      } 
      .sub-account button{
          width: 18rem;
          height: 3rem;
          color: white;
          text-align: center;
          background-color: rgb(48,48,48);
          border: none;
  
      }
       
      .sub-search{
          display: none;
      }
      .sub-search{
          width: 100%;
          position: absolute;
          display: flex;
          gap: 0;
          justify-content: center;
          align-items: center;
          height: 10vh;
          
      }  
      .sub-search input{
          width: 17rem;
          height: 2.9rem;
          padding-left: 3rem;
          border: 1px solid rgb(180, 180, 180);
      }
      .sub-search button{
          width: 6rem;
          height: 2.9rem;
          color: white;
          text-align: center;
          background-color: rgb(48,48,48);
          border: none;
      } 
  

}